<div *ngIf="this.apiToken === '' || this.widgetOriginDomain === ''">
  <h3>Please fill in the widget domain and token in 'clarity-organization-widget.component.ts' </h3>
</div>
<div
  #ref
  data-clarity-widget
  [attr.data-token]="this.apiToken"
  data-lang="en"
  data-module="esg-risk"
  data-entities="organizations"
  data-sections="KEY_SCORES,INDUSTRY_SCORES"
  [attr.data-scores-ids]="this.scoresIds"
  [attr.data-isin]="this.isin"
  [attr.data-style-attributes-json]="this.styleJSON"
>
</div>
